.articles-header {
  width: 100%;
  /* margin: 2rem auto 0 auto; */
  padding-left: 2.5rem;
  background: #02006c;
  margin-top: 0.1rem;
  color: #fff;
}
.articles-header h2 {
  font-family: "roboto";
  font-size: 25px;
  padding-top: 5rem;
}
.articles-header p {
  font-family: "inter";
  padding-top: 2rem;
  font-size: 18px;
  padding-bottom: 5rem;
  width: 550px;
  line-height: 2rem;
}
.articles-form {
  display: flex;
  flex-direction: row;
}
.search-icon {
  background: #151448;
  margin-bottom: 2rem;
  padding: 10px;
  margin-right: 2px;
}
.form-icon {
  font-size: 25px;
  font-weight: 700;
  cursor: pointer;
  color: rgb(255, 255, 255);
}
.articles-form input {
  width: 500px;
  padding: 10px;
  margin-bottom: 2rem;
  outline: none;
}
.articles-form input::placeholder {
  font-family: "roboto";
  font-size: 17px;
}

@media screen and (max-width: 600px) {
  .articles-form input {
    width: 300px;
  }
  .search-icon {
    margin-right: 2rem;
  }
  .articles-header p {
    width: 300px;
    font-size: 13px;
    padding-bottom: 2rem;
  }
  .articles-header h2 {
    font-size: 18px;
    padding-top: 6rem;
  }
}

@media screen and (max-width: 350px) {
  .articles-header p {
    width: 270px;
  }
  .articles-form input {
    padding: 7px;
  }
  .search-icon {
    padding: 7px;
  }
}
